#ChangePasswordForm_ChangePasswordForm_OldPassword, #MemberLoginForm_LoginForm_Email, #MemberLoginForm_LoginForm_Password, #LostPasswordForm_lostPasswordForm_Email, #ChangePasswordForm_ChangePasswordForm_NewPassword1, #ChangePasswordForm_ChangePasswordForm_NewPassword2 {
    height: 50px;
    border: 0;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #24262B;
    transition: all 0.3s ease-in-out;
    background: #F3F3F3;
    border-radius: 0;
}
#ChangePasswordForm_ChangePasswordForm_OldPassword_Holder label, #MemberLoginForm_LoginForm_Email_Holder label, #MemberLoginForm_LoginForm_Password_Holder label, #LostPasswordForm_lostPasswordForm_Email_Holder label, #ChangePasswordForm_ChangePasswordForm_NewPassword1_Holder label, #ChangePasswordForm_ChangePasswordForm_NewPassword2_Holder label   {
    font-weight: 500;
    color: #24262B;
    font-size: 16px;
    margin-bottom: 10px;
}
.login-form__header{
    color: #24262B;
    margin-bottom: 10px;
}

#MemberLoginForm_LoginForm .field .font-icon-help-circled {
    margin-left: 5px;
    font-size: 16px;
    color: #24262B;
    vertical-align: middle;
    position: relative;
    top: 1px;
}
#MemberLoginForm_LoginForm a {
    color: #24262B;
}
#MemberLoginForm_LoginForm_action_doLogin, #LogoutForm_Form_action_doLogout, #LostPasswordForm_lostPasswordForm_action_forgotPassword, #ChangePasswordForm_ChangePasswordForm_action_doChangePassword{   

    background-color: #24262b;
    border-color: #24262b;
    font-size: 16px;
    padding: 12px 30px;
    line-height: 24px;
    display: inline-flex;
    border-radius: 0;
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
    font-family: "DM Sans", sans-serif;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    text-align: center;
    -webkit-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    justify-content: center;
}

.shop-checkout .form-group .form-check-input:checked {
    background-color: #FEEC00!important;
    border-color: #FEEC00!important;
}
.form-check-input:checked[type="checkbox"] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e") !important;
}
.form-select .dropdown-menu ul li.selected a, select .dropdown-menu ul li.selected a {
    background-color: #FEEC00!important;
    color: #000!important;
}

.label-title i{
    color: #000!important;
}
/* FEEC00 */